<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nftartdisplay">

    <!-- Internet permission for Firebase and WebView -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name="com.example.nftartdisplay.NFTApplication"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NFTArtDisplay">

        <!-- SplashScreenActivity - Entry point of the app -->
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- SignUpActivity -->
        <activity android:name=".SignUpActivity" />

        <!-- LoginActivity -->
        <activity android:name=".LoginActivity" />

        <!-- HomeActivity -->
        <activity android:name=".HomeActivity" />

        <!-- DetailActivity -->
        <activity android:name=".DetailActivity" />

    </application>

</manifest>
